*{
	margin: 0;
	padding: 0;
	font-family: 'Cinzel', serif;
	box-sizing: border-box;
	overflow: hidden;
}
body{
	font-size: 20px;

}

@font-face {
font-family: myFirstFont;
src: url(GanpatiSymbolys.TTF);
}
.centerimg{
	width: 100%;
}
header{
	width: 100%;
	height: 100vh;
	background-image: url('back1.png');
	background-size: 100% 100%;

}

header h2{
	text-align: center;
	word-spacing: 10px;
	font-size: 3em;
	font-weight: 600;
	animation:  ganpatiji 1s infinite;
}

header h2 span {
	font-family: myFirstFont;
}
@media(max-width:874px){
	header h2{
		font-size: 180%;
	}
	header h2 span{
		font-size:180%;

	}
}
@media(max-width:641px){
	
	header h2 span{
		font-size:120%;

	}
}

@keyframes ganpatiji{
	0%{color:red;}
	30%{color: pink;}
	50%{color: #FC8704;}
	75%{color: #42BFEB;}
	100%{color: green;}
}

.centerimg{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	margin:auto;

}

.centerimg h3{
	width: 107%;
	color: #000;
	text-align: center;
	font-size: 1.6em;
	font-weight: 600;
	word-spacing: 10px;
}

@media (max-width: 640px){

header h2{

	word-spacing: 5px;
	font-size: 180%;
	
	}

.centerimg img{
	width: 100%;
	margin: auto;
}

.centerimg h3{
	font-size: 107%;
	word-spacing: 0px;
	width: 90%;
}
}

https://www.mp3mine.com/mp3/vakratunda-mahakaya-song-female-voice.htmlS